<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>csv-map</title>
  <link rel="stylesheet" href="./stylesheets/app.css">
</head>

<body>
  <div class="row">
    <div class="small-12 columns">
      <h1>Foundation + Browserify Project Generator</h1>

      <table class="js-table">
          <thead>
            <tr></tr>
          </thead>
          <tbody>
            
          </tbody>
      </table>
    </div>
  </div>
  <script src="js/bundle.js"></script>
</body>

</html>